---
title: A New Item
---
.highlights
  .top
    .left.inline-block
      %h2 Active Game Developer

      = render "experience", experience: @items['/experiences/sig_NULL/']
      = render "experience", experience: @items['/experiences/spb/']
      = render "experience", experience: @items['/experiences/rock_opera/']

    .right.inline-block
      %h2 Experienced Programmer

      = render "experience", experience: @items['/experiences/lastobelus/']
      = render "experience", experience: @items['/experiences/coursavenue/']
      = render "experience", experience: @items['/experiences/webify/']

  .bottom
    .left.inline-block
      %h2 Game Curator/Critic

      = render "experience", experience: @items['/experiences/arrogant_gamer/']

    .right.inline-block
      %h2 Passionate Barista

      = render "experience", experience: @items['/experiences/elysian/']
