---
---

.experience-item
  .theme-image
    %img{:src => "images/#{ @experience[:image] }" }
  .action-statements
    %h3.position
      - unless @experience[:link].nil?
        %a.subtle{ :href => @experience[:link] }
          = @experience[:position]
      - else
        = @experience[:position]

      - unless @experience[:note].nil?
        %small.note
          = "( #{ @experience[:note ]} )"
    %h4.organization
      %a{ :href => @experience[:href] }
        = @experience[:reference]
      - unless @experience[:source].nil?
        &nbsp;
        %a{ :href => @experience[:source ]}
          %i.fa.fa-github.fa-sm
    %h5.timeline
      = @experience[:timeline]
    %ul
      - @experience[:statements].each do |statement|
        %li
          = statement
